@import url("./null-style.css");
@import url("../fonts/muller/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url("./carousel.css");
html{
    scroll-behavior: smooth;
}
body{
    background-color: #1E0C00;
    color: white;
    font-family: "Muller";
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 1px;
    overflow-x: hidden;
}
.app{
    position: relative;
    max-width: 80vw;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.247);
}

header::after{
    content: 'LAB';
    position: absolute;
    z-index: -3;
    font-family: "Alex Brush";
    color: transparent  ;
    -webkit-text-stroke: 2px #351c12;
    font-weight: 400;
    font-size: 210px;
    top: 15px;
    right: -70px;
}
.logo {
    cursor: pointer;
    position: relative;
    top: -7px;
    padding: 10px;
    letter-spacing: 2.5px;
    font-weight: 800;
    font-size: 34px;
    background: linear-gradient(90deg, rgba(254, 156, 28, 1) 0%, rgba(255, 94, 42, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    white-space: nowrap;
    overflow: hidden;
}

.logo-icon {
    position: relative;
    font-size: 50px;
    color: #e08814;
    transition: all 1s ease;
}

.logo:hover .logo-icon {
    transform: translateX(500%);
}

.logo-icon{
    position: relative;
    top: 10px;
    font-size: 50px;
    color: #e08814;
}

.header__navigation-list{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header__navigation-list__item a{
    font-size: 18px;
    margin: 0 35px;
    padding: 5px;
    color: #A3A3A3;
    white-space: nowrap;
}
.header__navigation-list__item:hover{
    cursor: pointer;
    opacity: .85;
}

.nav-active{
    position: relative;
    background: #FE9C1C;
    background: linear-gradient(90deg,rgba(254, 156, 28, 1) 0%, rgba(255, 94, 42, 1) 100%);
    -webkit-background-clip: text;
    font-weight: 500;
    -webkit-text-fill-color: transparent;
}

.nav-active::after {
    content: '•';
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    font-size: 35px;
    color: #FE9C1C;
    background: linear-gradient(90deg, rgba(254, 156, 28, 1) 0%, rgba(255, 94, 42, 1) 100%);
    -webkit-background-clip: text;
    transition: all 0.3s ease;
    background-clip: text;
    filter: drop-shadow(2px 5px 5px #6d3c13);
}
.nav-active:hover::after{
    transform: translate(-50%, -7%);
}

.user-buttons{
    display: flex;
}
.button {
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    background: linear-gradient(90deg, rgba(254, 156, 28, 1) 0%, rgba(255, 94, 42, 1) 100%);
    padding: 7px 65px;
    border-radius: 25px;
    font-weight: 500;
    display: inline-block;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    cursor: pointer;
    box-shadow: 
    0 5px 5px #311107cb,
    0 6px 10px #311107cb,
    0 7px 15px #311107cb,
    0 10px 20px #311107cb;
}

.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(254, 156, 28, 1) 0%, rgba(255, 94, 42, 1) 100%);
    border-radius: 25px;
    z-index: -2;
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #FE9C1C;
    transition: all .5s;
    border-radius: 25px;
    z-index: -1;
}

.button:hover:before {
    width: 100%;
}


.cart-button{
    margin-left: 10px;
    padding: 0;
    width: 50px;
    height: 50px;
}
.cart-icon{
    font-size: 28px;
}


.home-wrapper{
    position: relative;
    padding-top: 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/home-pizza.png');
    background-size: 500px;
    background-position: 100% 10%;
    background-repeat: no-repeat;
}
.home-wrapper::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/pizza1.png');
    background-size: 200px;
    background-position: 102% -5%;
    background-repeat: no-repeat;
    filter: drop-shadow(3px 10px 10px #000000);
}
.home-wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/fries1.png');
    background-size: 200px;
    background-position: 70% 78%;
    background-repeat: no-repeat;
    filter: drop-shadow(3px 10px 10px #000000);
}
.home{
    position: relative;
    max-width: 40vw;
    margin-top: 50px;
    background: url(../img/Vector2.png) no-repeat;
    background-size: 180px;
    padding-bottom: 11%;
    background-position: 75% 100%;
    z-index: 1;
}
.home::before{
    content: 'Pizza';
    position: absolute;
    z-index: -3;
    font-family: "Alex Brush";
    color: transparent  ;
    -webkit-text-stroke: 2px #351c12;
    font-weight: 400;
    font-size: 210px;
    top: -70px;
}

.desc-text{
    color: #A3A3A3;
    font-weight: 400;
    font-size: 20px;
}

.title-text{
    font-size: 70px;
    letter-spacing: 3px;
    font-weight: 800;
}

.background-text{
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
}
.home__title span::after{
    content: '';
    background-image: url(../img/Vector1.png);
    background-repeat: no-repeat;
    position: absolute;
    background-position: 100% 20%;
    width: 150px;
    height: 150px;
    filter: drop-shadow(3px 10px 10px #6d3c13);

}
.home__title-icon {
    vertical-align: middle;
    font-size: 100px;
    transform: rotate(15deg);
    display: inline-block;
    margin-left: 20px;
    color: #ffa127;
}
.home__desc{
    margin: 30px 0;
}
.home__desc span{
    color: white;
}
.video-wrapper {
    position: relative;
    width: 360px;
    height: 200px;
    border-radius: 25px;
    overflow: hidden;
    margin: 20px 0 50px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 360;
    height:200;
} 

.to-menu-link{
    display: block;
    height: 60px;
    width: 360px;
}
.to-menu-link, .to-menu-link:visited{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

.menu{
    padding-top: 20px;
    position: relative;
}
.menu::after{
    content: 'Menu';
    position: absolute;
    z-index: -3;
    font-family: "Alex Brush";
    color: transparent  ;
    -webkit-text-stroke: 2px #351c12;
    font-weight: 400;
    font-size: 210px;
    top: 200px;
    left: -150px;
}
.menu__title{
    text-align: center;
    margin-bottom: 40px;
}
.menu__navigation{
    padding-top: 30px;
}

.menu__navigation-list{
    display: flex;
    flex-direction: row;
}
.menu__navigation-item{
    text-align: center;
    min-width: 0;
    flex:1;
    margin: 0 10px;
}
.nav-button{
    height: 50px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
    font-weight: 500;
    font-size: 20px;
}
.menu__navigation-item > .button::before{
    content: none;
}
.menu__navigation-item > .nav-button{
    background: #210A01;
}
.not-active > .button::after{
    content: none;
}
.not-active > .button::before{
    content: '';
    background: #b8520f;
    opacity: .7;
    transition: all .3s ease;
}


/*  */
.menu-list{
    display: flex;
    flex-direction: row;
    flex: 1 1;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
}
.menu-item{
    width: 25%;
    text-align: center;
    margin-bottom: 120px;
}

.pizza{
    position: relative;
    background-color: #270e04;
    border-radius: 30px;
    padding: 20px 0;
    margin: 0 10px;
    max-width: 400px;
    height: 100%;
    min-height: 510px;
}

.pizza__wrapper{
    position: relative;
    max-width: 75%;
    margin: 0 auto;
    top: 50%;
}
.pizza__image{
    position: absolute;
    transform: translate(-50%, -65%);
    border-radius: 50%;
    width: 55%;
}
.pizza__name{
    padding-top: 100px;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 25px;
    white-space: nowrap;
}
.hot-icon{
    position: relative;
    height: 60px;
    width: 60px;
    top: -20px;
    margin-bottom: -30px;
    left: -5px;
}
.premium-icon{
    font-size: 35px;
    position: relative;
    top: 8px;
    left: 5px;
    margin-top: -15px;
    color: #ff9900;
}
.pizza__desc{
    text-align: left;
    font-size: 14px;
    min-height: 30px;
}
.pizza__sizes{
    margin: 20px 0 25px 0;
}
.pizza__sizes-list{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
}
.pizza__sizes-item{
    position: relative;
    border-radius: 50%;
    border: 2px solid #A3A3A3;
    color: #A3A3A3;
    font-size: 16px;
    font-weight: 500;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 3px 0 0 1px;
    transition: transform .3s ease;
    will-change: transform;
}
.pizza__sizes-item:hover{
    border-color: #df5823;
    color: white;
    transform: scale(1.05);
}
.selected{
    background: linear-gradient(90deg, rgba(254, 156, 28, 1) 0%, rgba(255, 94, 42, 1) 100%);
    color: white;
    border-color: #bb532a;
    transform: scale(1.05);
}

.add-engridient-button{
    position: relative;
    width: 85%;
    height: 50px;
    border-radius: 25px;
    /* border: #FE9C1C 2px solid; */
    background: linear-gradient(90deg, rgba(254, 156, 28, 1) 0%, rgba(255, 94, 42, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 500;
    white-space: nowrap;
    transition: all 0.3s ease;
    will-change: transform;
    margin-bottom: 5px;
}
.add-engridient-button:hover{
    transform: scale(1.025);
}
.add-engridient-button::before{
    content: '✖';
    position: relative;
    display: inline-block;
    top: 1px;
    right: 5px;
    color: #ff9900;
    transform: rotate(45deg);
    transition: transform 0.3s ease, color 0.3s ease;
}
.add-engridient-button.close-button::before{
    content: '✖';
    transform: rotate(0);
}
.add-engridient-button.close-button:hover::before {
    transform: rotate(360deg);
}
.ingredients{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    min-height: 50px;
    border: 2px solid #ff9900;
    border-radius: 30px;
    transition: all .5s ease;
    width: 85%;
}
.ingredients.shows{
    transition: all .5s ease;
    width: 100%;
    border: 2px solid #ff9900;
    padding: 10px;
}
.ingredients.shows > .close-button{
    border: 2px solid #ff9900;
    margin: 10px 0;
}
.ingredients__list{
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ingredients__item{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13px 10px 10px 13px;
    border-radius: 20px;
    background-color: #291104;
    border: 2px solid #A3A3A3;
    margin: 5px 0;
    transition: all .5s ease;
}
.ingredients__item:hover{
    border: 2px solid #8b8079;
}
.ingredient__item__selected{
    border: 2px solid #ff9900;
    color: white;
    transform: scale(1.05);
}

.ingredient__item__selected:hover{
    border: 2px solid #c97e0e;
}
.pizza__select-order{
    margin: 35px auto 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pizza__select-order__cost{
    font-size: 26px;
    font-weight: 500;
}
.pizza__select-order__cost span{
    position: relative;
    top: -7px;
    left: 2px;
    font-size: 24px;
    font-weight: 400;
}
.pizza__select-order__count{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100px;
    align-items: center;
}
.count-button{
    color: #b89f9f;
    background: none;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: 2px solid #ffa127;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.count-button-active{
    background: linear-gradient(90deg, rgba(254, 156, 28, 1) 0%, rgba(255, 94, 42, 1) 100%);
    color: white;
    transition: transform .2s ease;
    will-change: transform;
}
.count-button-active:hover{
    transform: scale(1.075);
}
.count-plus{
    padding-top: 3%;
}

.count{
    min-width: 30px;
    position: relative;
    top: 2px;
    font-size: 30px;
    color: #A3A3A3;
}
.pizza__order__button{
    font-weight: 500;
}
.disabled::after, .disabled::before{
    content: none;

}
.disabled{
    background: rgba(197, 114, 19, 0.308);
    white-space: nowrap;
    height: 50px;
    color: #bdbdbd;
    border: 1px solid gray;
    cursor: not-allowed;
}
.goto-cart__button{
    height: 50px;
    width: 270px;
    font-size: 20px;
    text-align: center;
    padding-right: 40px;
}
.goto-cart__button:hover{
    transform: scale(0.98);
    will-change: transform;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
.goto-cart__button:after{
    background: linear-gradient(90deg, rgb(151, 118, 55) 0%, rgb(255, 52, 1) 100%);
}
.goto-cart__button:before{
    content: none;
}


.goto-cart-icon {
    position: absolute;
    left: 50px;
    top: 4px;
    font-size: 35px;
    color: #ffffff;
    transition: transform 1.5s ease-out, opacity 1s ease-out;
    transform: translateX(0);
    opacity: 1;
}

.goto-cart-icon.animate {
    transform: translateX(600px);
    opacity: 0;
}

.goto-cart__button {
    position: relative;
    overflow: hidden;
}
/*  */
.category-menu{
    margin-top: 150px;
}
.bestsellers-menu__slide{
    margin-top: 150px;
}
.bestsellers-menu{
    position: relative;
}
.bestsellers-menu::after{
    content: 'TOP';
    position: absolute;
    z-index: -3;
    font-family: "Alex Brush";
    color: transparent  ;
    -webkit-text-stroke: 2px #351c12;
    font-weight: 400;
    font-size: 210px;
    top: 20px;
    right: -100px;
}
.bestsellers__title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    background: url(../img/bestsellers-bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 30px;
    font-weight: 400;
}

/*  */
.events{
    padding-top: 20px;
    position: relative;

}
.events::after{
    content: 'Events';
    position: absolute;
    z-index: -3;
    font-family: "Alex Brush";
    color: transparent;
    -webkit-text-stroke: 2px #351c12;
    font-weight: 400;
    font-size: 210px;
    top: -120px;
    left: -120px;
}
.events__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;    
}
.events__item{
    position: relative;
    flex: 1 1 calc(33.333% - 14px);
    min-width: 200px;
}

.events__item:nth-child(5n + 4),
.events__item:nth-child(5n + 5){
    flex: 1 1 calc(50% - 10px);
}
.events__item:first-child::before{
        content: '';
        position: absolute;
        transform: translate(-45%, 45%);
        width: 300px;
        height: 300px;
        background-size: contain;
        background-image: url('../img/eggs.png');
        background-repeat: no-repeat;
        z-index: 1;
        filter: drop-shadow(3px 10px 10px #000000);
}
.events__item:nth-child(5n+5)::before{
    content: '';
    position: absolute;
    transform: translate(185%, -10%);
    width: 300px;
    height: 300px;
    background-size: contain;
    background-image: url('../img/buritto.png');
    background-repeat: no-repeat;
    z-index: 2;
    filter: drop-shadow(3px 10px 10px #000000);
}

.events__item:nth-child(6)::before{
    content: '';
    position: absolute;
    transform: translate(-55%, 20%);
    width: 300px;
    height: 300px;
    background-size: contain;
    background-image: url('../img/cofee.png');
    background-repeat: no-repeat;
    z-index: 1;
}
.events__item:nth-child(3) .event::after{
    background: none;
}
.events__item:nth-child(3) .event__title{
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 3.8em;
    font-weight: 800;
    letter-spacing: 2.5px;
    margin: 20px 0 20px 0;
}
.events__item:nth-child(3) .event__desc{
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    bottom: 0;
}


.event{
    position: relative;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    transition: opacity 3s ease;
}
.event::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
.event-container{
    padding: 80px 0 0 40px;
}
.event__title{
    position: relative;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 500;    
    margin-bottom: 80px;
    z-index: 1;
}
.event__button{
    position: absolute;
    bottom: 10%;
    left: 25px;
    height: 50px;
    width: 250px;
}
.event__more-link, .event__more-link:visited{
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  */
.about{
    position: relative;
    background-size: 45%;
    background-image: url(../img/aboutImage.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.about::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/pizza1.png');
    background-size: 200px;
    background-position: 102% -5%;
    background-repeat: no-repeat;
    filter: drop-shadow(3px 10px 10px #000000);
}
.about::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/fries1.png');
    background-size: 200px;
    background-position: 62% 93%;
    background-repeat: no-repeat;
    filter: drop-shadow(3px 10px 10px #000000);
}
.about__container{
    padding: 100px 0;
    max-width: 40%;
}
.about__container::after{
    content: 'About';
    position: absolute;
    z-index: -3;
    font-family: "Alex Brush";
    color: transparent  ;
    -webkit-text-stroke: 2px #351c12;
    font-weight: 400;
    font-size: 210px;
    top: -40px;
    right: -120px;
}

.about__pizza-images{
    height: 200px;
    position: relative;
    display: flex;
    top: 30px;
    overflow: visible;
    padding-right: 300px;
}
.about__pizza-images::after{
    content: '';
    position: absolute;
    display: block;
    transform: translateX(32vw);
    background-size: contain;
    background-image: url(../img/Vector1.png);
    background-repeat: no-repeat;
    background-position: right center;
    width: 150px;
    height: 150px;
    filter: drop-shadow(3px 10px 10px #6d3c13);
}
.pizza-image{
    height: 180px;
    width: 180px;
    z-index: -1;
}
.pizza-image:nth-child(2){
    position: relative;
    top: -30px;
    left: -100px;
    transform: scale(1.2);
    width: 180px;
}
.pizza-image:nth-child(3){
    position: relative;
    top: 0px;
    left: -195px;
    height: 175px;
    width: 190px;
    z-index: -2;
}
.pizza-image:nth-child(4){
    position: relative;
    top: -30px;
    left: -325px;
    transform: scale(1.25);
    width: 580px;
}
.pizza-image:nth-child(5){
    position: relative;
    top: -2px;
    left: -430px;
    transform: scale(.9);
    z-index: -2;
}

.about__desc{
    margin: 30px 0;
}

/*  */

.footer{
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    position: relative;
    left: 0;
    background: linear-gradient(90deg, #170A00 0%, #0F0700 100%);
}

.footer__container{
    padding: 50px 70px;
}
.footer__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 70vw;
    align-items: start;
}
.footer__nav__list{
    display: flex;
    flex-direction: column;
}
.footer__nav__item{
    padding: 2px;
    margin: 10px 0;
    transition: transform .3s ease;
    display: inline-block;
    transform: scale(1);
    transform-origin: center;
    will-change: transform;
}
.footer__nav__item:hover{
    transform: scale(1.05);
}
.footer__nav-head a, .footer__nav-head a:visited{
    font-size: 20px;
    color: #A3A3A3;
    font-weight: 500;
}
.footer__nav__link, .footer__nav__link:visited{
    text-decoration: none;
    font-size: 18px;
    letter-spacing: .8px;
    font-weight: 400;
    color: #515151;
}
.footer__contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
    margin-top: 80px;
    
}


.footer__contacts__tel{
    font-weight: 400;
    font-size: 21px;
    background: linear-gradient(90deg, rgba(254, 156, 28, 1) 0%, rgba(255, 94, 42, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 20px;
    transition: transform .3s ease;
}
.footer__contacts__tel:hover{
    transform: scale(1.1);
}

.social-icon {
    font-size: 35px;
    padding-right: 10px;
    background-clip: text;
    -webkit-background-clip: text;
    color: #db6f16;
    transition: transform 0.3s ease;
}
.social-icon:hover {
    transform: scale(1.2);
}

/*  */

.cart{
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.685);
}
.cart__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.cart__wrapper {
  position: fixed;
  width: 100%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  top: 50%;
  left: 50%;
  max-width: 50vw;
  height: 95%;
  background: white;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cart__content {
  overflow-y: auto;
}

.cart__order-list {
  max-height: 70%;
  padding-right: 10px;
  overflow-y: auto;
}
.cart__content{
    position: relative;
    width: 80%;
    color: black;
    margin: 0 auto;
}
.cart__title{
    position: relative;
    padding: 50px 0;
}
.cart__order-item{
    font-size: 32px;
}
.cart__total{
    font-size: 32px;
    font-weight: 800;
    margin: 20px;
}


.cart__order-item{
    padding: 20px 15px 5px 15px;
    background-color: #d6d5d5;
    border-radius: 30px;
    margin-bottom: 20px;
}
.order__item-info__block{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    position: relative;
}
.order__item-desc{
    width: 78%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}
.order__item-image{
    width: 120px;
    height: 120px;
    display: block;
    position: relative;
}

.order__item-names{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.order__item-name{
    font-size: 36px;
}
.order__item-size{
    font-size: 26px;
    top: 6px;
    position: relative;
}
.order__item-count{
    font-size: 26px;
}

.order__item-price{
    margin-left: 20px;
}
.order__item-ingredients{
    font-size: 16px;
    margin: 20px 20px 0 20px;
    position: relative;
    max-width: 80%;
    left: 16%;
    top: -50px;
}
.ingredients__title{
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 20px;
}
.cart__close-button{
    font-size: 40px;
    right: 50px;
    top: 30px;
    position: absolute;
}
